/* Bookmark.css */

.box {
    position: absolute;
    top: 14px;
    right: 0px;
    background-color: #d6d6d6bf;
    z-index: 1001;
    border-radius: 20px 0px 0px 20px;
    width: 200px;
    padding:25px;
    height: 100vh;
  }

.Bookmarkedframes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  overflow: scroll;
  height:66vh;
  margin-top: 34px;
  padding: 20px;
}

.Bookmarkedframes img {
  width: 200px;
  height: 100px;
}

.image{
  position: relative;
}

.time {
  font-size: 15px;
  font-weight: bold;
  color: white;
  position: absolute;
  bottom: 9px;
  right: 12px;
}

.Bookmarkedframes::-webkit-scrollbar {
  display: none;
}

.clearAll{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  color: black;
  display:block;
}

#ClearbookmarkButton{
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 20px;
  color: black;
  display:block;
  background-color: transparent;
  border: none;
  z-index: 1003;
}

#ClearbookmarkButton img{
    width: 20px;
  height: 20px;
}

.BookMarkButtonClasses{

}